@import "../app.component.scss";

input {
    font-size: larger;
    font-weight: bold;
    text-align: end;
}

.settings-buttons-wrapper{
    margin-top: 25px;
    gap: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.setting-line{
    display: flex;
    justify-content: space-between;
}


form{
    width: 100%;
    max-width: 35em;
}